<div flex="100" class="md-body-1" layout="column">

	<md-toolbar md-scroll-shrink md-theme="default">
		<div class="md-toolbar-tools">
			<h3>
				<md-button hide-gt-sm class="md-warn" ng-click="sidebar()">Sidebar</md-button> <span> {{data.job.name}} ( {{data.job.type}} ) </span>
			</h3>
			<span flex></span>
			<md-button md-no-ink aria-label="Delete Job" class="md-raised md-warn" ng-click="deleteJob()">
					Delete Job
				</md-button>
		</div>
	</md-toolbar>

	<div ui-view="jobdetails" flex="auto" layout="column">

		<section flex="none" layout="column">

			<div class="enabled-{{data.job.enabled}} md-body-1 enabled-line"></div>
			<div layout="row" class="details">

				<div flex="auto">
					<p>Created: <strong>{{data.job.created}} ( <span am-time-ago="data.job.created"></span> ) </strong> </p>
					<p>CRON: <strong>{{data.job.cron}}</strong> ( {{prettyCron()}} )</p>
					<p>Next Run: <strong>{{nextRun()}}</strong></p>
				</div>
				<div flex="20">
					<md-switch ng-change="updateEnabled()" ng-model="data.job.enabled" aria-label="Job Enabled"></md-switch>
					Job Enabled: {{data.job.enabled}}
				</div>

			</div>

		</section>

		<md-content ui-view="details" flex="auto">
			<md-subheader>
				Execution History:
			</md-subheader>
		    <md-list>
				<md-list-item class="md-2-line" ng-repeat="history in data.history" ui-sref="jobs.job.history({ id:data.job._id, historyId: history._id })" md-no-ink>
					<div layout="row" layout-align="space-between center" flex="100">
						<div class="ico-wrapper">
							<div class="ico-status status-{{history.state}}"></div>
						</div>
						<div flex="auto">
							{{history.state}}
						</div>
						<div flex="auto">
							
						</div>
						<div flex="none">
							Run: <span am-time-ago="history.created"></span>
						</div>
					</div>
				</md-list-item>
		    </md-list>

		</md-content>

	</div>

</div>